{% extends "layout.html" %}
{% block content %}

<div class="row voffset1">
            <div class="col-md-12">
               <div class="panel panel-default">
                 <div class="panel-heading"><h1 class="text-left">Contact Us</h1></div>
                  <div class="panel-body">
                      <p class="lead text-left">Something to Say?</p>
                      <p class="lead text-left">If you send in some content or wish to contribute as a writer or would like to feature your tips on our website, or would like to share feedback on something, do write in to us at info@pysnap.com. We'll try to revert at the earliest</p>
                  </div>
               </div>
           </div>
</div>
{% endblock %}