{% extends "layout.html" %}
{% block content %}

<div class="row voffset1">
            <div class="col-md-12">
               <div class="panel panel-default">
                 <div class="panel-heading"><h1 class="text-left">About Us</h1></div>
                  <div class="panel-body">
                    <p class="lead text-left">What do we do?</p>
                    <p class="lead text-left">We are  aiming at creating a repository of easy-worded thorough tutorials and walkthroughs in Python and related frameworks for people from varied skillsets. Do visit daily and leave feedback. Get in touch if you would like to contribute. </p>
                  </div>
               </div>
           </div>
</div>
{% endblock %}
